/* Makes border-box properties */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/bower_components\/susy\/sass\/susy\/language\/susy\/_box-sizing\.scss}line{font-family:\0000321}}
*, *:before, *:after {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\000035}}
.icon {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\000039}}
.icon-logo {
  background: url('../images/icons-s90695f3149.png') 0 0 no-repeat;
  width: 100px;
  height: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\0000312}}
.icon-shake {
  background: url("../images/svg/shake.svg") no-repeat 0 0;
  background-size: 51px 67px 100%;
  width: 51px;
  height: 67px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\0000314}}
.icon-ask {
  background: url("../images/svg/ask.svg") no-repeat 0 0;
  background-size: 53px 66px 100%;
  width: 53px;
  height: 66px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\0000316}}
.icon-star {
  background: url("../images/svg/star.svg") no-repeat 0 0;
  background-size: 62px 59px 100%;
  width: 62px;
  height: 59px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\000031}}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000315}}
body, html {
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000318}}
img, fieldset, a img {
  border: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000321}}
input[type="submit"],
button {
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000324}}
  input[type="submit"]::-moz-focus-inner,
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000328}}
textarea, input {
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000331}}
textarea {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000334}}
input, button {
  margin: 0;
  padding: 0;
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000339}}
div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000343}}
ul, ol {
  list-style-type: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000350}}
table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_reset\.sass}line{font-family:\0000355}}
a {
  text-decoration: none;
  color: inherit; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000312}}
.pull-right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000314}}
.pull-left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000316}}
.vertical-align {
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000318}}
.center {
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000320}}
.uppercase {
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000323}}
a {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000326}}
html {
  background-color: #0d326a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000330}}
body {
  font: 200 14px/1.4 "Montserrat", Helvetica, Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000339}}
.container {
  overflow-x: hidden;
  background: linear-gradient(to top, #072649 0%, #072649 46%, #0d326a 100%) 0 0 no-repeat;
  background-size: cover; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000344}}
.wrap {
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/bower_components\/susy\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  .wrap:after {
    content: " ";
    display: block;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000362}}
.header-logo {
  display: inline-block;
  padding-top: 87px;
  background: url("../images/logo-glow.png") no-repeat 0 0;
  width: 1012px;
  height: 335px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000371}}
.logo {
  background: url("../images/svg/logo.svg") no-repeat 0 0;
  background-size: 287px 103px 100%;
  width: 287px;
  height: 103px;
  display: inline-block;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000376}}
.header {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000378}}
  .header .header-logo {
    margin-left: -375px;
    margin-right: -375px;
    margin-bottom: -60px;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000385}}
  .header .header-subtitle {
    margin-top: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000387}}
.h1 {
  font-size: 36px;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000390}}
.header-subtitle {
  color: #ffff08;
  font-size: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\0000394}}
.market-links {
  margin-top: 34px;
  margin-left: -30px;
  position: relative;
  z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003100}}
  .market-links a {
    display: inline-block;
    margin-left: 30px;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003104}}
    .market-links a:hover {
      box-shadow: 0 1px 13px -4px rgba(0, 0, 0, 0.9); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003106}}
.market-links-small {
  margin-top: 34px;
  margin-left: -15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003109}}
  .market-links-small a {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003113}}
    .market-links-small a:hover {
      box-shadow: 0 1px 13px -4px rgba(0, 0, 0, 0.9); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003116}}
.link-appstore {
  background: url("../images/svg/appstore.svg") no-repeat 0 0;
  background-size: 170px 51px 100%;
  width: 170px;
  height: 51px;
  display: inline-block;
  border-radius: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003119}}
.link-appstore-small {
  background: url("../images/svg/appstore.svg") no-repeat 0 0;
  background-size: 125px 38px 100%;
  width: 125px;
  height: 38px;
  display: inline-block;
  border-radius: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003123}}
.link-googleplay {
  background: url("../images/svg/googleplay.svg") no-repeat 0 0;
  background-size: 153px 51px 100%;
  width: 153px;
  height: 51px;
  display: inline-block;
  border-radius: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003127}}
.link-googleplay-small {
  background: url("../images/svg/googleplay.svg") no-repeat 0 0;
  background-size: 113px 38px 100%;
  width: 113px;
  height: 38px;
  display: inline-block;
  border-radius: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003132}}
.screens {
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003135}}
  .screens .left, .screens .right {
    display: inline-block;
    position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003139}}
  .screens .left {
    right: 52%;
    top: 2.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003142}}
  .screens .right {
    left: 52%;
    top: 2.5%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003146}}
  .screens .center {
    z-index: 1;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003149}}
  .screens img {
    max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003152}}
.preview {
  margin-top: 40px;
  position: relative;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003156}}
  .preview .stars-bottom {
    position: absolute;
    top: 0;
    width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003161}}
  .preview .stars-top {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition:-webkit-transform 0.3s ease-in-out;
    transition:transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003166}}
  .preview:hover .stars-top {
    -webkit-transform: translate3d(1%, -2%, 0);
    transform: translate3d(1%, -2%, 0); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003169}}
.boy-star {
  position: relative;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/bower_components\/susy\/sass\/susy\/output\/support\/_clearfix\.scss}line{font-family:\0000312}}
  .boy-star:after {
    content: " ";
    display: block;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003188}}
  .boy-star:after {
    content: " ";
    display: table;
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003174}}
  .boy-star .boy-image {
    display: none; }
  @media screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003169}}
    .boy-star {
      text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003181}}
      .boy-star .boy-image {
        display: inline-block;
        margin-left: -100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003184}}
      .boy-star .text {
        position: absolute;
        top: 150px;
        left: 290px; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003192}}
.movie-answers-description {
  max-width: 400px;
  margin-top: 40px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003197}}
.features {
  margin-top: 40px;
  padding: 1.69492%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003199}}
  .features .h1 {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003201}}
  .features .feature {
    text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003204}}
  .features .features-in {
    margin-top: 40px;
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/lib\/_mixins\.sass}line{font-family:\00003188}}
    .features .features-in:after {
      content: " ";
      display: table;
      clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003207}}
    .features .features-in .left {
      float: left;
      text-align: center;
      width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003211}}
    .features .features-in .right {
      float: right;
      text-align: center;
      width: 50%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003215}}
    .features .features-in .phone-screen {
      clear: both;
      padding-top: 30px; }
    @media screen and (min-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003219}}
      .features .features-in .left, .features .features-in .right {
        width: 25%;
        padding-top: 100px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003222}}
      .features .features-in .left {
        text-align: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003224}}
      .features .features-in .right {
        text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003226}}
      .features .features-in .phone-screen {
        clear: none;
        width: 50%;
        margin-left: 25%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003233}}
.feature {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003236}}
.feature-text {
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003239}}
  .feature-text span {
    display: block;
    color: #ffff08;
    font-size: 24px;
    margin-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003245}}
p {
  font-size: 14px;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003248}}
.h2 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003253}}
.phone-screen {
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003255}}
  .phone-screen img {
    display: inline-block;
    width: 650px;
    margin-left: -208px;
    margin-right: -216px;
    margin-top: -90px;
    margin-bottom: -90px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003262}}
.be-happy {
  margin-top: 40px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003265}}
  .be-happy span {
    display: block;
    color: #ffff08;
    font-size: 24px;
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003271}}
  .be-happy .market-links {
    margin-top: 60px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003274}}
.footer {
  font-weight: bold;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding: 43px 10px;
  text-align: center;
  margin-top: 80px;
  font-size: 11px;
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003284}}
.hlopchyk {
  position: relative;
  width: 378px;
  height: 650px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003288}}
  .hlopchyk-boy, .hlopchyk-dog, .hlopchyk-star, .hlopchyk-globus {
    position: absolute; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003290}}
  .hlopchyk-boy {
    background: url("../images/hlopchik.png") no-repeat 0 0;
    width: 378px;
    height: 458px;
    z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003293}}
  .hlopchyk-dog {
    background: url("../images/hlopchik-dog.png") no-repeat 0 0;
    width: 78px;
    height: 102px;
    top: 375px;
    z-index: 1;
    left: 110px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003298}}
  .hlopchyk-globus {
    background: url("../images/hlopchik-globus.png") no-repeat 0 0;
    width: 281px;
    height: 219px;
    top: 430px;
    left: 80px;
    z-index: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/app\.sass}line{font-family:\00003303}}
  .hlopchyk-star {
    background: url("../images/hlopchik-star.png") no-repeat 0 0;
    width: 288px;
    height: 288px;
    top: -90px;
    right: -117px;
    z-index: 3; }
