@import components/susy
@import components/colors

@import components/icon

@import lib/base

+font('Montserrat', 'montserrat/Montserrat-Black', 900)
+font('Montserrat', 'montserrat/Montserrat-Extrabold', 800)
+font('Montserrat', 'montserrat/Montserrat-Bold', 700)
+font('Montserrat', 'montserrat/Montserrat-SemiBold', 600)

+font('Montserrat', 'montserrat/Montserrat-Regular', 400)
+font('Montserrat', 'montserrat/Montserrat-Light', 300)
+font('Montserrat', 'montserrat/Montserrat-UltraLight', 200)
+font('Montserrat', 'montserrat/Montserrat-Hairline', 100)

//@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

.pull-right
  float: right

.pull-left
  float: left

.vertical-align
  vertical-align: middle

.center
  text-align: center

.uppercase
  text-transform: uppercase

a
  cursor: pointer

html

  background-color: #0d326a

body
  font: 400 14px/1.4 'Montserrat', Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  color: white
  margin: 0
  padding: 0

  overflow: auto
  -webkit-overflow-scrolling: touch

.container
  overflow-x: hidden
  background: linear-gradient(to top, #072649 0%, #072649 46%, #0d326a 100%) 0 0 no-repeat
  background-size: cover

.wrap
  +container(1020px)
  padding: gutter()
$break-tablet: 768
$break-phone: 320

//.logo-image
//  +svg(star, 62, 59)
//  float: left
//
//.logo-text
//  +svg(logo-text, 110, 40)
//  margin-top: 16px
//  margin-left: 15px
//.logo-header
//  .logo-text, .logo-image
//    box-shadow: 0 0 121.8px 9.2px rgba(8, 207, 255, 0.26)

.header-logo
  display: inline-block

  padding-top: 87px

  +png(logo-glow)

  .logo

.logo
  +svg(logo, 287, 103)
  display: inline-block

.header
  position: relative
  text-align: center
  .header-logo
    margin-left: -375px
    margin-right: -375px
    margin-bottom: -60px

    overflow: hidden
  .header-subtitle
    margin-top: 24px

.header-quote
  text-align: left

  width: 295px
  margin-left: auto
  display: block

  margin-top: -50px
  margin-bottom: 50px

  font-weight: 400
  font-style: italic
  font-size: 16px
  .header-quote-author

    font-size: 14px
    margin-left: auto
    width: 189px
    margin-top: 12px
    font-style: normal

.h1
  font-size: 36px
  font-weight: bold

.header-subtitle
  color: $yellow
  font-size: 30px
  font-weight: 700
  margin-bottom: 26px

.market-links
  margin-top: 44px - 10px
  // 10px is margin of links
  margin-left: -30px
  position: relative
  z-index: 2

  a
    display: inline-block
    margin-left: 30px
    margin-top: 10px
    &:hover
      box-shadow: 0 1px 13px -4px rgba(black, .9)

.market-links-small
  margin-top: 44px - 10px
  // 10px is margin of links
  margin-left: -15px
  a
    display: inline-block
    margin-left: 15px
    margin-top: 10px
    &:hover
      box-shadow: 0 1px 13px -4px rgba(black, .9)

.link-appstore
  +svg(appstore, 170, 51)
  border-radius: 5px

.link-appstore-small
  +svg(appstore, 125, 38)
  border-radius: 5px

.link-googleplay
  +svg(googleplay, 153, 51)
  border-radius: 5px

.link-googleplay-small
  +svg(googleplay, 113, 38)
  border-radius: 5px

.screens
  position: relative

  .left, .right
    display: inline-block
    position: absolute

  .left
    right: 52%
    top: 2.5%
  .right
    left: 52%
    top: 2.5%

  .center
    z-index: 1
    position: relative
  img
    max-width: 100%

.preview
  margin-top: 40px
  position: relative
  text-align: center
  .stars-bottom
    position: absolute
    top: 0
    width: 100%

  .stars-top
    position: absolute
    bottom: 0
    width: 100%
//transition: transform .3s ease-in-out

.boy-star
  position: relative
  +container(850px)
  +clr

  .boy-image
    display: none
  text-align: center

  .text
    text-align: center
    p
      margin-bottom: 20px

  +min-screen($break-tablet)
    text-align: left
    .boy-image
      display: inline-block
      margin-left: -100px
    .text
      //margin-left: 300px
      //margin-top: 200px

      position: absolute
      top: 100px
      left: 290px

.movie-answers-description
  max-width: 400px
  margin-top: 40px
  display: inline-block

.features
  margin-top: 88px
  .h1
    text-align: center
  .left
    width: 50%
    float: left
  .right
    width: 50%
    float: left
  .phone-screen
    clear: both
    padding-top: 80px

  .feature
    text-align: center
    min-height: 200px
  +min-screen($break-tablet)
    .features-in
      position: relative
    .feature
      text-align: left
    .left, .right
      width: 200px
      position: absolute
      top: 50px
    .right
      left: 50%
      transform: translateX(200px)
    .left
      right: 50%
      transform: translateX(-120px)

.features
  .feature
    margin-top: 80px

.feature
  display: block
  //text-align: left
  .icon
    margin-left: 10px
    margin-bottom: 10px
    height: 66px
    background-position: center bottom

.feature-text
  //text-align: left
  font-size: 14px

  span
    display: block
    color: $yellow
    font-size: 24px
    margin-bottom: 10px

p
  //font-size: 14px
  //font-weight: 400

.h2
  font-size: 30px
  font-weight: 600
  //text-transform: uppercase

.phone-screen
  text-align: center
  img
    display: inline-block
    width: 650px
    margin-left: -208px
    margin-right: -216px
    margin-top: -90px
    margin-bottom: -90px

.be-happy
  margin-top: 74px
  text-align: center

  span
    display: block
    color: $yellow
    font-size: 24px
    margin-top: 30px
    font-weight: 400

  .icon-crown
    //display: block
    //text-align: center
    width: 100%
    background-position: center top
    margin-bottom: 12px

  .market-links
    margin-top: 100px

.footer

  font-weight: bold
  border-top: 1px solid rgba(white, .5)
  padding: 43px 10px
  text-align: center
  margin-top: 80px
  font-size: 11px
  text-transform: uppercase
  .icon
    vertical-align: middle
  .icon-monkey
    margin-left: 8px
    margin-top: -4px
  p
    margin-bottom: 15px

.hlopchyk
  position: relative
  width: 378px
  height: 650px
  &-boy, &-dog, &-star, &-globus
    position: absolute
  &-boy
    +png(hlopchik)
    z-index: 2
  &-dog
    +png(hlopchik-dog)
    top: 375px
    z-index: 1
    left: 110px
  &-globus
    +png(hlopchik-globus)
    top: 430px
    left: 80px
    z-index: 0
  &-star
    +png(hlopchik-star)
    top: -90px
    right: -117px
    z-index: 3

.market-block
  text-align: center
  margin: 60px 0 40px
  .market-links
    display: inline-block

.laptop-block
  margin: 100px 0 150px
  &__wrap

    //background-size: contain
    //width: 100%

    //height: 500px

    margin-left: auto
    margin-right: auto
    position: relative
    text-align: center

  &__in

    position: relative
    display: inline-block

    iframe

      max-width: 100%
      position: relative
      z-index: 1

    &:before
      display: block
      content: ''
      background: url("../images/svg/laptop-mockup.svg") no-repeat center top

      position: absolute
      z-index: 0
      //background-color: red
      top: -6%
      left: -11%
      right: -11%
      bottom: -20%
      +max-screen(720)
        display: none
