
@import components/susy
@import components/colors

@import components/icon

@import lib/media
@import lib/mixins

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700)

.pull-right
  float: right
.pull-left
  float: left
.vertical-align
  vertical-align: middle
.center
  text-align: center
.uppercase
  text-transform: uppercase

a
  cursor: pointer

html

  background-color: #072649
  background: linear-gradient(to top, #072649 0%, #072649 46%, #0d326a 100%) 0 0 no-repeat
  background-size: cover

body
  font: 200 14px/1.4 'Montserrat', Helvetica, Arial, sans-serif
  color: white
  margin: 0
  padding: 0

  overflow: auto
  -webkit-overflow-scrolling: touch

.wrap
  +container(1020px)
  padding: gutter()
$break-tablet: 768
$break-phone: 320

//.logo-image
//  +svg(star, 62, 59)
//  float: left
//
//.logo-text
//  +svg(logo-text, 110, 40)
//  margin-top: 16px
//  margin-left: 15px
//.logo-header
//  .logo-text, .logo-image
//    box-shadow: 0 0 121.8px 9.2px rgba(8, 207, 255, 0.26)

.header
  text-align: center
  .logo
    margin-bottom: -60px
    margin-left: -121px
    margin-right: -121px
    overflow: hidden
  .header-subtitle
    margin-top: 24px
.h1
  font-size: 36px
  font-weight: bold
.header-subtitle
  color: $yellow
  font-size: 20px

.market-links
  margin-top: 44px - 10px // 10px is margin of links
  margin-left: -30px
  a
    display: inline-block
    margin-left: 30px
    margin-top: 10px
.market-links-small
  margin-top: 44px - 10px // 10px is margin of links
  margin-left: -15px
  a
    display: inline-block
    margin-left: 15px
    margin-top: 10px

.link-appstore
  +svg(appstore, 170, 51)
.link-appstore-small
  +svg(appstore, 125, 38)

.link-googleplay
  +svg(googleplay, 153, 51)

.link-googleplay-small
  +svg(googleplay, 113, 38)


.screens
  position: relative
  .left, .right
    display: inline-block
    position: absolute
    top: 0
    left: 50%
  .left
    transform: translate3d(-52% - 50%, 2.5%, 0)
  .right
    transform: translate3d(52% - 50%, 2.5%, 0)
  .center
    z-index: 1
    position: relative
  img
    max-width: 100%

.preview
  margin-top: 40px
  position: relative
  text-align: center
  //overflow: hidden
  .stars-bottom
    position: absolute
    top: 0
    width: 100%

  .stars-top
    position: absolute
    bottom: 0
    width: 100%
    transition: transform .3s ease-in-out
  &:hover .stars-top
    transform: translate3d(1%, -2%, 0)

.boy-star
  position: relative
  +container(850px)
  .boy-image
    display: none
  text-align: center


  +min-screen($break-tablet)
    text-align: left
    .boy-image
      display: inherit
      width: 750px
      margin-left: -200px
      margin-top: -100px
    .text
      position: absolute
      top: 200px
      left: 300px

.features
  margin-top: 40px
  .h1
    text-align: center
  .feature
    text-align: center
  padding: gutter()
  .features-in
    margin-top: 40px
    +clr
    .left
      float: left
      text-align: center
      width: 50%
    .right
      float: right
      text-align: center
      width: 50%
    .phone-screen
      clear: both
      padding-top: 30px
    +min-screen($break-tablet)
      .left, .right
        width: 25%
        padding-top: 100px
      .left
        text-align: right
      .right
        text-align: left
      .phone-screen
        clear: none
        width: 50%
        margin-left: 25%



.feature
  display: inline-block

.feature-text
  text-align: left

  span
    display: block
    color: $yellow
    font-size: 24px
    margin-bottom: 10px

p
  font-size: 14px
  font-weight: 400
.h2
  font-size: 30px
  font-weight: 600
  text-transform: uppercase

.phone-screen
  text-align: center
  img
    display: inline-block
    width: 650px
    margin-left: -208px
    margin-right: -216px
    margin-top: -90px
    margin-bottom: -90px
.be-happy
  margin-top: 40px
  text-align: center
  span
    display: block
    color: $yellow
    font-size: 24px
    margin-top: 10px

.footer

  font-weight: bold
  border-top: 1px solid white
  padding: 43px 10px
  text-align: center
  margin-top: 80px
