@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\000035}}
.icon {
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\000039}}
.icon-logo {
  background: url('../../images/icons-s90695f3149.png') 0 0 no-repeat;
  width: 100px;
  height: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\0000312}}
.icon-shake {
  background: url("../images/svg/shake.svg") no-repeat 0 0;
  background-size: 51px 67px 100%;
  width: 51px;
  height: 67px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\0000314}}
.icon-ask {
  background: url("../images/svg/ask.svg") no-repeat 0 0;
  background-size: 53px 66px 100%;
  width: 53px;
  height: 66px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/user\/Sites\/eppyk-web\/src\/sass\/components\/icon\.sass}line{font-family:\0000316}}
.icon-star {
  background: url("../images/svg/star.svg") no-repeat 0 0;
  background-size: 62px 59px 100%;
  width: 62px;
  height: 59px;
  display: inline-block; }
