doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title EPPYK - MOVIE ANSWERS
    link(rel='stylesheet', href='css/app.css')
    link(rel="icon", type="image/png", href="/images/favicon-16.png?v=12345", sizes="16x16")
    link(rel="icon", type="image/png", href="/images/favicon-32.png?v=12345", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/favicon-96.png?v=12345", sizes="96x96")
    meta(property="og:title", content="EPPYK - MOVIE ANSWERS")
    meta(property="og:type", content="website")
    meta(property="og:image", content="/images/open_graph_1200.png")
    meta(property="og:site_name", content="EPPYK - MOVIE ANSWERS")
    meta(property="og:description", content="MOVIE ANSWERS")

  body

    #skrollr-body: .container
      .wrap
        header.header
          .header-logo
            .logo
          quote.header-quote.cap
            | “In one of those stars I shall be living.
            br
            | In one of them I shall be laughing”
            div.header-quote-author Antoine de Saint-Exupéry
              br
              | The Little Prince

          .header-subtitle While in doubt, turn to movies!
          h2.header-title.h1 Shake your phone to get the answer to any question!
          .market-links
            a.link-appstore(href="#")
            a.link-googleplay(href="#")
        .preview
          .stars-bottom(data-200-center="transform:translate3d(1%, -2%, 0)", data-0-center="transform:translate3d(0,0, 0)")
            img(src="images/stars-bottom.png")
          .screens
            img.left(src="images/screen-left.png")
            img.center(src="images/screen-center.png")
            img.right(src="images/screen-right.png")
          .stars-top(data-200-center="transform:translate3d(3%, 1%, 0)", data-0-center="transform:translate3d(0,0, 0)")
            img(src="images/stars-top.png")
        .boy-star
          .boy-image: .hlopchyk
            .hlopchyk-star(data-200-center="transform:translate3d(100px,-100px,0) rotate(10deg);", data--100-center="transform:translate3d(0,0,0) rotate(-30deg)")
            .hlopchyk-dog
            .hlopchyk-boy
            .hlopchyk-globus
          .text
            h2.h2 EPPYK MOVIE ANSWERS
            .movie-answers-description Have you ever wondered which way to go?
              p Have you ever had some serious or funny questions you wished you would have had more insight about to make up your mind?
              p Life is full of uncertainties and it comes as no surprise people used a coin to help the balance tip one way or the other.
              p Now, of course, there is no need for heads and tails because instead of a coin flipping there are favorite movies to turn to for the inspiration and help!
              p Let’s expand our universe with unexpected stars we catch!
            .market-links-small
              a.link-appstore-small(href="#")
              a.link-googleplay-small(href="#")
        .features
          h2.h1 Simple to use, yet hilariously witty!
          .features-in
            .left
              .feature
                .icon.icon-ask
                .feature-text
                  span Ask
                  | any question
              .feature
                .icon.icon-save
                .feature-text
                  span Save
                  | any answer you like
            .right
              .feature
                .icon.icon-shake
                .feature-text
                  span Shake
                  | the answer you like.
                  br
                  | If you don’t – shake again!
              .feature
                .icon.icon-share
                .feature-text
                  span Share
                  | the questions and answers you like with anyone you want!
            .phone-screen
              img(src="images/phone-screen.png")
        .be-happy
          .icon.icon-crown
          .icon.icon-star
          span Keep calm
            br
            | and
            br
            | EPPYK On!
          .market-links
            a.link-appstore(href="#")
            a.link-googleplay(href="#")
      .footer Copyright © 2016 All Rights Reserved
    // build:js js/app.min.js
    script(src='bower_components/skrollr/dist/skrollr.min.js')
    script(src='js/app.js')
    // endbuild
