doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title EPPYK - MOVIE ANSWERS
    link(rel='stylesheet', href='css/app.css')
    link(rel="icon", type="image/png", href="/images/favicon-16.png?v=12345", sizes="16x16")
    link(rel="icon", type="image/png", href="/images/favicon-32.png?v=12345", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/favicon-96.png?v=12345", sizes="96x96")
    meta(property="og:title", content="EPPYK - MOVIE ANSWERS")
    meta(property="og:type", content="website")
    meta(property="og:image", content="/images/open_graph_1200.png")
    meta(property="og:site_name", content="EPPYK - MOVIE ANSWERS")
    meta(property="og:description", content="MOVIE ANSWERS")

  body

    #skrollr-body: .container
      .wrap
        header.header
          .header-logo
            .logo
          quote.header-quote.cap
            | “In one of those stars I shall be living.
            br
            | In one of them I shall be laughing”
            div.header-quote-author Antoine de Saint-Exupéry
              br
              | The Little Prince

          .header-subtitle While in doubt, turn to movie stars!
          h2.header-title.h1 Shake your phone to get the answer to any question!
          .market-links
            a.link-appstore(href="#")
            a.link-googleplay(href="#")
        .preview
          .stars-bottom
            img(src="images/stars-bottom.png")
          .screens
            img.left(src="images/screen-left.png")
            img.center(src="images/screen-center.png")
            img.right(src="images/screen-right.png")
          .stars-top
            img(src="images/stars-top.png")
        .boy-star
          .boy-image: .hlopchyk
            .hlopchyk-star(data-200-center="transform:translate3d(100px,-100px,0) rotate(10deg);", data--100-center="transform:translate3d(0,0,0) rotate(0)")
            .hlopchyk-dog
            .hlopchyk-boy
            .hlopchyk-globus
          .text
            h2.h2 EPPYK MOVIE ANSWERS
            p.movie-answers-description It’s a new way of getting solutions on hardest problems. It’ll give you new magic experience with the answers to everyday questions.
              br
              | Who will you kiss today? Why should you buy this bottle of vodka?
              br
              | Who killed Kennedy?
              br
              | Just ask. And shake. And get ready.
            .market-links-small
              a.link-appstore-small(href="#")
              a.link-googleplay-small(href="#")
        .features
          h2.h1 Don’t waste your time on useless features
          .features-in
            .left
              .feature
                .icon.icon-ask
                .feature-text
                  span Ask
                  | any question
              .feature
                .icon.icon-save
                .feature-text
                  span Save
                  | any answer you like
            .right
              .feature
                .icon.icon-shake
                .feature-text
                  span Shake
                  | as many times you want
              .feature
                .icon.icon-share
                .feature-text
                  span Share
                  | it with your friends
            .phone-screen
              img(src="images/phone-screen.png")
        .be-happy
          .icon.icon-star
          span Be happy!
          p right now
          .market-links
            a.link-appstore(href="#")
            a.link-googleplay(href="#")
      .footer Copyright © 2016 All Rights Reserved
    // build:js js/app.min.js
    script(src='bower_components/skrollr/dist/skrollr.min.js')
    script(src='js/app.js')
    // endbuild
