doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title EPPYK
    link(rel='stylesheet', href='css/app.css')
  body
    .wrap
      header.header
        .logo
          img(src="images/logo.png")
        .header-title What’s your movie advice for today?
        .header-subtitle Shake your phone to get the answer!

        .market-links
          a.link-appstore(href="apple.com")
          a.link-googleplay(href="google.com")
    // build:js js/app.min.js
    script(src='js/app.js')
    // endbuild

