doctype html
html
  head(lang='en')
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    title EPPYK - MOVIE ANSWERS
    link(rel='stylesheet', href='css/app.css')
    link(rel="icon", type="image/png", href="/images/favicon-16.png?v=12345", sizes="16x16")
    link(rel="icon", type="image/png", href="/images/favicon-32.png?v=12345", sizes="32x32")
    link(rel="icon", type="image/png", href="/images/favicon-96.png?v=12345", sizes="96x96")
    meta(property="og:title", content="EPPYK - MOVIE ANSWERS")
    meta(property="og:type", content="website")
    meta(property="og:image", content="/images/open_graph_1200.png")
    meta(property="og:site_name", content="EPPYK - MOVIE ANSWERS")
    meta(property="og:description", content="MOVIE ANSWERS")

    <script type='text/javascript' data-cfasync='false' src='//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js' data-shr-siteid='3eaf89e934592cca4dd02a8618762752' async='async'></script>

  body
    #skrollr-body: .container
      .wrap
        header.header
          .header-logo
            .logo
          quote.header-quote.cap
            | “In one of those stars I shall be living.
            br
            | In one of them I shall be laughing”
            div.header-quote-author Antoine de Saint-Exupéry
              br
              | The Little Prince

          <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='25506153'></div>
          .header-subtitle When in doubt, turn to movies!
          h2.header-title.h1 Shake your phone to get the answer
            br
            | to any question!
          .market-links
            a.link-appstore(href="#")
            a.link-googleplay(href="#")
        .laptop-block
          .laptop-block__wrap
            .laptop-block__in
              <iframe src="https://player.vimeo.com/video/178739099" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .boy-star
          .boy-image: .hlopchyk
            .hlopchyk-star
            .hlopchyk-dog
            .hlopchyk-boy
            .hlopchyk-globus
          .text
            h2.h2 EPPYK Movie answers
            .movie-answers-description Have you ever wondered which way to go?
            p Have you ever had some serious or funny questions you wished you would have had more insight into to make up your mind? Life is full of uncertainties and it comes as no surprise people used a coin to help the balance tip one way or the other.
            p Now there is no need for heads and tails because instead of flipping a coin there are favourite movie stars to turn to for the inspiration and help! It is also very funny.
            p Let’s expand our universe with unexpected stars we catch!
            p You just type the question, shake the phone, and get the answer from a movie.
            p You can shake again, if you are looking for something else, save the answer, and share it with friends.

            .market-links-small
              a.link-appstore-small(href="#")
              a.link-googleplay-small(href="#")
        .preview
          .stars-bottom(data-400-top="transform:translate3d(0,-15%,0)", data--300-top="transform:translate3d(0,10%,0)")
            img(src="images/stars-bottom-0.png")
          .stars-bottom(data-200-top="transform:translate3d(0,-10%,0)", data--200-top="transform:translate3d(0,10%,0)")
            img(src="images/stars-bottom-1.png")
          .screens
            img.left(src="images/screen-left.png")
            img.center(src="images/screen-center.png")
            img.right(src="images/screen-right.png")
          .stars-top(data-200-top="transform:translate3d(0,-10%,0)", data--200-top="transform:translate3d(0,10%,0)")
            img(src="images/stars-top.png")
        .market-block: .market-links
          a.link-appstore(href="#")
          a.link-googleplay(href="#")
        .features
          h2.h1 Simple to use, yet hilariously witty!
          .features-in
            .left
              .feature
                .icon.icon-ask
                .feature-text
                  span Ask
                  | any question
              .feature
                .icon.icon-save
                .feature-text
                  span Save
                  | any answer you like
            .right
              .feature
                .icon.icon-shake
                .feature-text
                  span Shake
                  | the answer you like.
                  br
                  | If you don’t – shake again!
              .feature
                .icon.icon-share
                .feature-text
                  span Share
                  | the questions and answers you like with anyone you want!
            .phone-screen
              img(src="images/phone-screen.png")
        .be-happy
          .icon.icon-crown
          .icon.icon-star
          span Keep calm
            br
            | and
            br
            | EPPYK On!
          .market-links
            a.link-appstore(href="#")
            a.link-googleplay(href="#")
      .footer
        p
          a(href="mailto:eppykmonkey@gmail.com") eppykmonkey@gmail.com
          i.icon.icon-monkey
        p Copyright Eppyk Ltd. © 2016 All Rights Reserved
    // build:js js/app.min.js
    script(src='bower_components/skrollr/dist/skrollr.min.js')
    script(src='js/app.js')
    // endbuild
